<%layout("/layouts/boilerplate") %>
<div class="row">
    <div class="offset-2 col-8">
        <body>
            <h3>Edit your Listing</h3>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data"> 
                <div class="mb-3 mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please add Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"></label>
                    <textarea name="listing[description]" class="form-control" type="text" required><%=listing.description%> </textarea>
                    <div class="invalid-feedback">Please add a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                   
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"></label>
                        <input name="listing[price]" value="<%=listing.price%>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please mension Price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label"></label>
                        <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Add Location</div>
                    </div>
                </div>             
                <div class="mb-3">
                    <label for="country" class="form-label"></label>
                    <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Add country name</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </body>
    </div>
</div>
